.container {
  font-family: "montserrat";
  padding: 1.2rem;
  /* background-color: black; */
}
.main_container {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  height: 70vh;
  /* background-color: blue; */
  flex-wrap: wrap;
}
.mainContainer_left {
  flex: 0.5;
  /* flex-basis: 45%; */

  /* background-color: brown; */
  line-height: 3.5rem;
  padding-left: 5rem;
}
.mainConatiner_right {
  flex: 0.5;
  /* height: 100%; */
  border-radius: 80%;
  justify-items: center;
  text-align: center;
  /* background-color: blueviolet; */
}
.home_main_connection_img {
  height: 65%;
  width: 65%;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  /* background-color: aqua; */
}
.loginOption {
  display: inline-block;
}

.connectPara {
  background: linear-gradient(45deg, black, #b2b2b2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
  font-weight: bold;
}

.socialMediaPara {
  font-size: 1.2rem;
  color: #6c757d;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
}
.joinButton {
  padding: 0.1rem 2.3rem;
  border-radius: 0.3rem;
  color: white;
  cursor: pointer;
  background: -webkit-linear-gradient(to right, #ff9966, #ff5e62);
  background: linear-gradient(to right, #ff9966, #ff5e62); 
  font-size: 1.1rem;
  font-weight: 600;
  padding: 1rem 2rem;
  margin-top: 1rem;
  border: none;
  font-family: "montserrat";
}
@media only screen and (max-width: 1400px) {
  .mainContainer_left {
    line-height: 3rem;
  }
}

@media only screen and (max-width: 1200px) {
  .home_main_connection_img {
    height: 85%;
    width: 85%;
  }
  .mainContainer_left {
    padding-left: 2rem;
  }
  .connectPara {
    font-size: 2rem;
  }
  .socialMediaPara {
    line-height: normal;
    font-size: 1.1rem;
    margin-top: 1.3rem;
  }
  .joinButton {
    margin-top: 1.5rem;
  }
}

@media only screen and (max-width: 970px) {
  .main_container {
    height: 60vh;
  }
  .mainContainer_left {
    line-height: normal;
    padding-left: 0rem;
  }
  .connectPara {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
  .socialMediaPara {
    line-height: 2.1rem;
  }
  .joinButton {
    padding: 1rem 2rem;
    margin-top: 1rem;
  }
  .home_main_connection_img {
    height: 95%;
    width: 95%;
  }
}

@media only screen and (max-width: 768px) {
  .main_container {
    display: block;
  }
  .mainContainer_left {
    width: 100;
    justify-self: center;
    text-align: center;
  }
  .mainConatiner_right {
    width: 100%;
    margin-top: 2rem;
  }
  .home_main_connection_img {
    height: 60%;
    width: 60%;
  }
}

@media only screen and (max-width: 640px) {
  .home_main_connection_img {
    height: 75%;
    width: 75%;
  }
}
@media only screen and (max-width: 450px) {
  .socialMediaPara {
    margin-top: 1.6rem;
  }
  .home_main_connection_img {
    height: 100%;
    width: 100%;
  }
}
