.allUserProfile{
    display: flex;
    flex-direction: column;
    gap:1.5rem;
    max-width: 100%;
   align-items: center;
    justify-content:center
    
}

.userProfileCard{
    display: flex;
    gap:1.2rem;
    padding: 1.3rem;
    align-items: center;
    box-shadow: 10px 10px 10px 0px rgb(227, 226, 226);
    cursor: pointer;
    width:80%;
   word-wrap: break-word;

}

.userCardImage {
  height: 65px;
  width: 65px;
  border-radius: 50%;
}

.userProfileInfo{
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width:500px){
    .userProfileCard{
        width:95%;
    }
    .userName_discover{
        font-size: 1.2rem;
    }
    .discover_heading{
        font-size: 1.4rem;
    }
}

@media only screen and (max-width:768px) {

 .container{
  margin-bottom:4rem;
 }
}